body{
background-color:dimgray;
}
h1{
font-size:250%;
  background-color:lightgreen;
 color:darkred;
}
p1{
font-size:150%;
  color:darkred;
}
p2{
font-size:125%;
  color:darkred;
  background-color:lightblue;
}
p3{
font-size:125%;
  color:darkred;
   background-color:lightblue;
}
p4{
font-size:125%;
  color:darkred;
   background-color:lightblue;
}
p5{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p6{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p7{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p8{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p9{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p10{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
p11{
font-size:125%;
  color:darkred;
 background-color:lightblue;
}
